In [2]:
from datetime import datetime
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
import pandas as pd
import math
import operator

In [3]:
# read saved prices
prices = pd.read_csv("./prices.csv")

In [4]:
prices.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,shop,timestamp,product,price
0,0,0,0,0,0.0,CZC,2019-12-16 17:44:28.432887,Mys,12
1,1,1,1,1,1.0,CZC,2019-12-16 17:44:28.446934,Notebook,122
2,2,2,2,2,2.0,CZC,2019-12-16 17:44:28.458476,Mobil,45
3,3,3,3,3,3.0,Alza,2019-12-16 17:44:28.470659,Mys,45
4,4,4,4,4,4.0,Alza,2019-12-16 17:44:28.481968,Notebook,150

In [18]:
class Downloader:
    
    def is_new_product_price(self, product): # checked if the price is different or not
        
        latest_price = 0
        
        for index, row in prices.iterrows():
            if(row["shop"] == self.name and row["product"] == product.get("name")):
                latest_price = row["price"]

        if(latest_price != product.get("price")):
            return True
        
    def update_prices(self): # if the price is different, add a new row
        products = self.get_products()
        
        for product in products:
            if(self.is_new_product_price(product)):
                print("added row")
                
             # how to add a row
                global prices
                prices = prices.append({"shop":self.name, "timestamp": datetime.now(), "product": product.get("name"), "price": product.get("price")}, ignore_index= True)
                
        
class Downloader_CZC(Downloader):
     
    def get_products(self):
        
        return   [
            {"name":"Mys", "price": 23},
            {"name":"Notebook", "price": 178},
            {"name":"Mobil", "price": 56}
        ]
    
    name = "CZC"


class Downloader_Alza(Downloader):
    
    name = "Alza"
    

    def get_products(self):

        return [
            {"name":"Mys", "price": 45},
            {"name":"Notebook", "price": 150},
            {"name":"Mobil", "price": 60}
        ]
    
# add Downloader_Mall?

In [13]:
# add Mall
downloaders = [Downloader_CZC(), Downloader_Alza()]

In [14]:
# for every downloader in downloader, it downloads the prices, look if it is changed and eventually it adds a new price to prices

for downloader in downloaders:
    downloader.update_prices()

added row
added row
added row

In [15]:
prices.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,shop,timestamp,product,price
0,0.0,0.0,0.0,0.0,0.0,CZC,2019-12-16 17:44:28.432887,Mys,12
1,1.0,1.0,1.0,1.0,1.0,CZC,2019-12-16 17:44:28.446934,Notebook,122
2,2.0,2.0,2.0,2.0,2.0,CZC,2019-12-16 17:44:28.458476,Mobil,45
3,3.0,3.0,3.0,3.0,3.0,Alza,2019-12-16 17:44:28.470659,Mys,45
4,4.0,4.0,4.0,4.0,4.0,Alza,2019-12-16 17:44:28.481968,Notebook,150

In [16]:
prices.to_csv("prices.csv")